<%- include("partials/header.ejs") -%>

  <div class="IntroDiv">
    <h1>Name Generator</h1>
    <h3>Click "Roll" for a list of names.</h3>
  </div>

  <div class="RollButtonDiv">
    <button class="rollButton" type="button" name="rollButton">Roll</button>
  </div>

<div class=generatorContainer>
  <div class="tableDiv">
    <table class = "table">
      <tr>
        <ul>
          <li class="result"></li>
          <li class="result"></li>
          <li class="result"></li>
          <li class="result"></li>
          <li class="result"></li>
        </ul>
      </tr>
          </table>
  </div>

    <div class="tableDiv">
      <table class = "table">
        <tr>
          <ul>
            <li class="result"></li>
            <li class="result"></li>
            <li class="result"></li>
            <li class="result"></li>
            <li class="result"></li>
          </ul>
        </tr>
      </table>
    </div>
  </div>








<%- include("partials/footer.ejs") -%>

<script src="scripts/generator.js" charset="utf-8"></script>



</body>
</html>