
<%- include("partials/header.ejs") -%>



<div class="homeContainer">

    <div class="wizardContainer">
      <img src="images/wizard.png" alt="wizard">
    </div>
    <div class="introContainer">
    <h1>Laury's Mystic Emporium</h1>
    <h3>A magical site of marvel and wonder.</h3>
    <div class="tableContainer">
      <table>
        <tr>
          <td>
            <a href="/generator.ejs">Name Generator</a>
          </td>
          <td>
            <a href="/dice.ejs">Dice Rolling</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/artifacts.ejs">Artifacts</a>
          </td>
          <td>
            <a href="/inn.ejs">Mystic Inn</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/weather.ejs">Weather</a>
          </td>
          <td>
            <a href="/8ball.ejs">Magic 8-Ball</a>
          </td>
        </tr>
      
      </table>
    </div>
  </div>

</div>




  <%- include("partials/footer.ejs") -%>



</body>
</html>

