
<%- include("partials/header.ejs") -%>




  <div class="IntroDiv">
    <h1>Title Goes Here</h1>
    <h3>Subtitle Goes Here</h3>
  </div>







<%- include("partials/footer.ejs") -%>



</body>
</html>