html{
  height:100%;
}

body{
  box-sizing:border-box;
  min-height: 100%; 
  font-family:'EB Garamond', serif;
  text-align: center;
  background-color: #FDE49C;
  color: black;
  margin: 0;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  display:flex;
  flex-direction:column;
  font-weight: normal;
}

p{
  font-size: 1.5rem;
}

.footer{
  margin-top:auto;
}

.footer p {
  padding:1em;
  font-size: 0.8rem;
}

h1{
  color: rgb(131, 12, 44);
  font-size: 7rem;
  font-family:'Aladin', cursive;
  margin: 0.5em;
}

h3{
  font-size: 2.5rem;
  margin: 0.5em;
}

h4{
  font-size: 2rem;
  margin:0.4em;
}

a{
  text-decoration: none;
  color:black;
  font-family: 'Antic Slab', serif;
}

a.menuButton:hover{
  color: rgb(218, 30, 30);
  transition: color 0.2s;
}

.rollButton{
  margin: 0;
    padding:0.7% 3%;
    font-size: 1rem;
    font-family: 'Antic Slab', serif;
  }

#result{
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  font-weight: bold;
  font-style: oblique;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align:left;
  background-color:rgb(228, 225, 185);
  padding: 1em;

}



.menuButton{
  padding: 0.5em;
  font-size: 1.5rem;
  border-right: solid black;
}

.menuButtonLast{
  border: none;
}

.homeContainer{
  display:flex;
  flex-direction:row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.wizardContainer > img {
  max-height: 750px;
}



#promptText{
  margin-bottom: 0;
}

.introContainer h3 {
  margin: 2% 0 1% 0;
}

.RollButtonDiv{
  padding: 10px;
}

.DiceImagesDiv{
  padding: 1% 0;
}

.DiceImagesDiv img{
  display:none;
  padding: 0 3%;
}

.generatorContainer{
  flex-direction: row;
  justify-content: center;
}

.tableDiv{
  display:none;
  padding: 1% 5%;
  font-size: 2rem;
  text-align: left;
}

.tableContainer{
  margin-top:2em;
  display:flex;
  justify-content: center;
  font-size: 1.5rem;
}

.tableContainer a {
  color: rgb(131, 12, 44);
  font-weight: bold;
}

.tableContainer table{

  border-spacing: 5px;
}

.tableContainer td{
  background-color: #f8db84;
  padding: 0.5em 1.2em;
  text-align: left;
  border: 5px outset rgb(70, 10, 26);
  border-top-color:rgb(126, 66, 82);
  border-left-color:rgb(128, 99, 106);
  box-shadow: 7px 10px 20px;
}

.tableContainer td:hover{
  background-color:aliceblue;
}

.wizardContainer{
  max-height: 800px;
  max-width:300px;
}

ul{
  list-style-type:square;
}


#eightBall {
  height:300px;
  width:300px;
  margin: 2em auto;
  background-color:black;
  border: 5px solid rgb(34, 34, 34);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eightBallInnerCircle{
  color:  rgb(133, 133, 216);
  text-shadow: 2px 2px darkblue;
  background-color:rgb(67, 67, 97);
  border: 5px solid rgb(46, 46, 80);
  border-radius: 50%;
  height:120px;
  width:120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#eightBallInnerCircle p {
  font-size: 0.9rem;
  font-family:'Verdana', 'Geneva', 'Tahoma', sans-serif;
  max-width: 110px;
  overflow-wrap:normal;
}

#weatherInput{
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding: 0.5em;
  text-align: left;
  box-sizing: border-box;

}

.contentDiv{
  margin: 0 30px;
}

.weatherResults{
  font-size: 1.4rem;
}




/* Tablet Landscape */
@media screen and (max-width: 1200px) {
  html{
    font-size: 14px;
    width:100%;
    height: 100%;
  }
  .rollButton{
    margin: 0;
      padding:1.4% 6%;
      font-size: 2rem;
      font-family: 'Antic Slab', serif;
    }
    #wizardHomePage{
      display:none;
    }
    .nav a{
      font-size:0.9rem;
    }
    .footer p{
      padding: 0.5%;
    }
}


/* Tablet Portrait */
@media screen and (max-width: 900px) {
  html{
    font-size: 18px;
    width:100%;
    height: 100%;
  }
  .rollButton{
    margin: 0;
      padding:1.4% 6%;
      font-size: 2rem;
      font-family: 'Antic Slab', serif;
    }
    #wizardHomePage{
      display:none;
    }
    .nav a{
      font-size:0.9rem;
    }

}

/* Mobile */
@media screen and (max-width: 800px) {
  html {
     font-size:10px;
     width:100%;
     height: 100%;
  }
  body{
    border: none;
  }
  .rollButton{
    margin: 0;
      padding:1.4% 6%;
      font-size: 2rem;
      font-family: 'Antic Slab', serif;
    }
  .nav a{
    font-size:0.9rem;
  }
  #wizardHomePage{
    display:none;
  }
  #dice1, #dice2{
    max-width: 30%;
  }
  .footer p{
    padding: 0.5%;
  }
  
  #eightBall {
    height:200px;
    width:200px;
  }

  #eightBallInnerCircle{
    height:90px;
    width:90px;
  }

  #eightBallInnerCircle p{
    font-size: 1.1rem;
    margin: 0 10px;
  }
  #newRollButton{
    font-size: 1rem;
  }
}